.gitattributes text eol=lf
.gitignore text eol=lf
.eslintignore text eol=lf
.eslintrc text eol=lf
.dockerignore text eol=lf
.env* text eol=lf
Dockerfile* text eol=lf
*.py text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.cfg text eol=lf
*.env text eol=lf
*.sql text eol=lf
